#main-header {
    text-align: center;
    color: #ffffff;
    background-color: #008080;
}

#footer-section {
    text-align: center;
    font-weight: 300;
    text-transform: none;
}

.ui.label {
    width: 100px;
    text-align: center;
    font-weight: 400;
}

.ui[class*="right labeled"].input input+.label{
    width: 60px;
    font-weight: 400;
}

.ui.teal.ribbon.label {
    background-color: #00cc99;
}

.ui.vertical.animated.basic.teal.button, .ui.vertical.animated.teal.button, .ui.vertical.animated.basic.red.button {
    width: 18.5%;
}

.nth {
    font-size: 10px;
}

.ui.menu .active.item.mathMenu {
    background: #008080;
    color: #ffffff;
}

.ui.teal.label.cache {
    width: 300px;
}

.ui.vertical.animated.teal.button.trash {
    width: 77px;
}

//Media quaries for smartphones:
@media (max-width: 575px){
    .ui.teal.ribbon.label {
        display: none;
    }
    
    .ui.teal.right.corner.label {
        display: none;
    }
    
    .help.circle.outline.icon.mobile {
        float: right;
    }
    
    .ui.secondary.segment.top {
        margin-top: 30px;
    }
    
    .ui.vertical.animated.basic.teal.button, .ui.vertical.animated.teal.button, .ui.vertical.animated.basic.red.button {
        margin-left: 0.7px;
    }
    
    .ui.vertical.animated.basic.teal.button.include {
        margin-left: 3.3px;
    }
}
//Media quaries for tablets and medium devices:
@media (min-width: 576px) and (max-width: 991px){
    .ui.teal.ribbon.label {
        display: none;
    }
    
    .ui.teal.right.corner.label {
        display: none;
    }
    
    .help.circle.outline.icon.mobile {
        float: right;
    }
    
    .ui.secondary.segment.top {
        margin-top: 30px;
    }
    
    .ui.vertical.animated.basic.teal.button, .ui.vertical.animated.teal.button, .ui.vertical.animated.basic.red.button {
        margin-left: 2.1px;
    }
    
    .ui.vertical.animated.basic.teal.button.include {
        margin-left: 4.7px;
    }
}

//Media quaries for desktops:
@media (min-width: 992px) and (min-width: 1200px){
    .ui.teal.top.attached.label {
        display: none;
    }
    
    .ui.segments.calc {
        width: 25.5vw;
        position: fixed;
    }
    
    .help.circle.outline.icon.mobile {
        display: none;
    }
    
    .ui.teal.ribbon.label {
        margin-top: 11px;
        margin-bottom: 11px;
        margin-left: 14px;
    }
    
    .ui.vertical.animated.basic.teal.button, .ui.vertical.animated.teal.button, .ui.vertical.animated.basic.red.button {
        width: 18.5%;
    }
    
    .ui.vertical.animated.basic.teal.button.include {
        margin-left: 2.5px;
    }
    
}
